.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 8vh;
  margin-bottom: 3.6vh;
}

.aboutImage {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.caption {
  font-weight: 500;
  width: 60%;
  font-size: 3.2vh;
  line-height: 1.5;
  margin-bottom: 10vh;
}

.caption-two {
  font-weight: 500;
  width: 60%;
  font-size: 3.2vh;
  line-height: 1.5;
  margin-bottom: 3.6vh;
}

@media (max-width: 768px) {
  .title {
    width: 75%;
  }

  .aboutContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .aboutImage {
    margin-left: auto;
    margin-right: auto;
  }

  .caption {
    width: 75%;
  }
  .caption-two {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10vh;
    margin-right: auto;
  }
  .aboutImage {
    margin-top: 20vh;
    margin-left: 15vh;
    margin-right: auto;
    width: fit-content;
  }

  .caption,
  .caption-two {
    margin-left: 15vh;
  }

  @media (max-width: 375px) {
    .title {
      margin-right: auto;
      margin-left: 20vh;
      width: 70%;
    }

    .aboutImage {
      margin-left: 12vh;
    }

    .caption,
    .caption-two {
      margin-left: 16vh;
    }
  }

  @media (max-width: 320px) {
    .about-container {
      flex-direction: column;
      align-items: center;
    }

    .title {
      margin-left: 13vh;
      margin-right: auto;
      width: 100%;
    }

    .caption,
    .caption-two {
      margin-left: 20vh;
    }
  }
}
