#root {
  max-width: 100%;
  margin: 10 auto;
  text-align: center;
  margin: 0px;
}

#body {
  max-width: fit-content;
}
@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 1026px) {
  body {
    overflow-x: hidden;
  }
  @media (max-width: 768px) {
    body {
      overflow-x: hidden;
    }

    @media (max-width: 375px) {
      body {
        overflow-x: hidden;
      }
    }
  }
}
