.dudes-img img {
  position: relative;
  animation: fadeIn 5s;
  padding-right: 20px;
  top: 110px;
}

.athens {
  position: relative;
  bottom: 380px;
  margin-left: 10px;
  float: left;
}

.athens,
h1 {
  position: relative;
  padding-right: 60px;
  margin-bottom: 10px;
  padding-left: 17px;
  float: left;
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
  color: black;
}

.athens,
button {
  color: black;
  float: bottom;
  max-width: 500px;
  font-size: 50px;
  margin-right: 105px;
}

.athens button {
  padding: 10px;
  margin-left: 60px;
  width: 300px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  justify-content: center;
}

button:hover {
  color: white;
  background-color: black;
  border-style: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .dudes-img img {
    width: 70%;
    height: auto;
    margin-bottom: 500px;
    padding-left: 65px;
  }

  .athens,
  h1 {
    width: 90%;
    height: auto;
    font-size: 40px;
    position: relative;
  }
  .athens,
  button {
    width: 100;
    height: auto;
  }
}
