.content {
  margin-left: auto;
  margin-right: auto;
  font-family: "Alegreya", serif;
  font-size: 4.5vh;
  font-weight: bolder;
  position: relative;
  bottom: 18.2vh;
  display: flex;
  padding: 3.6vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 90%;
}

h2 {
  padding: 7.2vh;
}

.one,
.two,
.three {
  width: 51vh;
}
@media (max-width: 1026px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
  .one,
  .two,
  .three {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-style: none;
  }

  h2 {
    padding: 1.8vh;
  }

  .one,
  .two,
  .three {
    width: 70vh;
    font-size: 6vh;
  }
}

@media (max-width: 425px) {
  .one,
  .two,
  .three {
    margin-left: 6vh;
  }
}

@media (max-width: 375px) {
  .content {
    margin-left: 0vh;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .content {
    width: 100%;
  }
}
