.book-text {
  width: 100%;
  font-weight: 500;

  padding-bottom: 1vh;
  flex-direction: row;
  text-align: center;
  flex-direction: column;
}
.form-control {
  padding-top: 3.6vh;
  display: flex;
  width: 127vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.6vh;
  flex-direction: column;
  text-align: center;
}

.text-center {
  font-family: "Bebas Neue", sans-serif;
  font-size: 10.9vh;
  text-align: center;
  padding-bottom: 1.8vh;
}

.email-btn {
  width: 18.2vh;
  margin-top: 3.6vh;
  font-size: 1.8vh;
}

.email-btn:hover {
  color: white;
  background-color: black;
  border-style: none;
}

@media (max-width: 768px) {
  .email-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control {
    width: 70%;
    height: 70%;
    margin-left: 0vh;
    margin-right: 0vh;
  }

  .book-text {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .text-center {
    max-width: 90%;
    margin-left: 15vh;
  }
  .book-text {
    margin-left: 15vh;
  }
  .form-control {
    margin-left: 15vh;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .email-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 10vh;
    margin-left: 0;
    margin-right: auto;
  }

  .form-control {
    width: 75%;
  }

  .book-text {
    width: 100;
  }
}

@media (max-dith: 320px) {
  .email-container {
    margin-left: 0vh;
  }
}
