footer {
  border-top: 1px solid black;
  margin-bottom: 9.1vh;
}

.footer .footerlogo,
img {
  display: flex-box;
  position: relative;
  float: left;
  padding-top: 3.6vh;
  padding-left: 0.9vh;
}

.footerlist {
  font-family: "Alegreya", serif;
  font-size: 3.6vh;
  color: black;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  align-items: end;
  list-style-type: none;
  float: right;
}

.footer-items {
  font-family: "Alegreya", serif;
  font-size: 3.6vh;
  color: black;
  cursor: pointer;
  padding: 10px 0;
  padding-right: 5.4vh;
  text-decoration: none;
}

.footer-items:hover {
  color: rgb(220, 81, 93);
  border-style: none;
}

@media (max-width: 425px) {
  footer {
    width: 100%;
  }

  .footerlogo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
