.container-one {
  border-top: 1px solid black;
  margin-top: 18.2vh;
  display: flex;
  align-items: flex;
  margin-bottom: 18.2vh;
  margin-left: auto;
  margin-right: auto;
}

.left {
  display: flex;
  flex-direction: column;
  margin-right: 18vh;
  animation: fadeIn 5s;
}

.left img {
  animation: fadeIn 5s;
  margin-right: 5.3vh;
}

.text-one {
  margin-top: 18.2vh;
  font-size: 12.7vh;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 5vh;
  width: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.button-one {
  margin-top: 3.6vh;
  font-size: 7.2vh;
  color: black;
  width: 85vh;
}

.button-one:hover {
  color: white;
  background-color: black;
  border-style: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1150px) {
  .container-one {
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
  }

  .left img {
    padding-left: 25vh;
  }
}

@media (max-width: 1024px) {
  .container-one {
    margin-top: 67vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .container-one {
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .text-one {
    margin-left: 10vh;
  }

  .left {
    height: 90%;
    width: 90%;
    padding-right: 20vh;
  }

  .left img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
  }
  .button-one {
    margin-left: 10vh;
    margin-right: auto;
    width: 60vh;
  }
}

@media (max-width: 375px) {
  .container-one {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .text-one {
    margin-left: 10vh;
    margin-right: auto;
  }

  .left {
    height: 100%;
    width: 100%;
    padding-right: 20vh;
  }
}

@media (max-width: 320px) {
  .container-one {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}
