.container-two {
  justify-content: center;
  margin-top: 18.2vh;
  display: flex;
  align-items: flex-start;
  margin-bottom: 36.4vh;
  margin-left: auto;
  margin-right: auto;
}

.left-two {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.text-two {
  margin-top: 18vh;
  font-size: 12.7vh;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 1.8vh;
  margin-left: 3.6vh;
}

.button-two {
  margin-left: 9.1vh;
  margin-top: 3.6vh;
  font-size: 7.2vh;
  color: black;
  width: 85vh;
}

.right-two img {
  animation: fadeIn 5s;
  margin-right: 5.3vh;
  max-width: 100%;
  height: auto;
}

.button-two:hover {
  color: white;
  background-color: black;
  border-style: none;
}

@media (max-width: 1024px) {
  .container-two {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
  }
  .text-two {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  .right-two {
    padding-top: 20vh;
  }
}

@media (max-width: 768px) {
  .container-two {
    margin-left: auto;
    margin-right: auto;
  }

  .text-two {
    width: 100%;
    font-size: 15vh;
  }

  .button-two {
    margin-top: 3vh;
    margin-left: -2vh;
    font-size: 4.5vh;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .right-two {
    margin-left: 5vh;
    margin-right: 0;
  }

  .text-two {
    margin-top: 10vh;
    margin-left: 8vh;
    font-size: 10vh;
    width: 100%;
    padding-bottom: 5vh;
  }

  .button-two {
    margin-left: 16vh;
    font-size: 4vh;
    width: 120%;
  }

  .right-two img {
    max-width: 120%;
  }
}

@media (max-width: 375px) {
  .container-two {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-two {
    margin-left: 8vh;

    font-size: 7vh;
  }

  .button-two {
    margin-left: 13vh;
  }

  .right-two img {
    margin-left: 0vh;
  }
}
@media (max-width: 320px) {
  .container-two {
    padding-left: 10vh;
    margin-right: auto;
  }
}
