.map-container {
  border-top: 1px solid black;
  margin-top: 18.2vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80vh;
  margin-bottom: 9.1vh;
}

@media (max-width: 768px) {
  .map-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
  .map-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 320px) {
  .map-container {
    margin-left: 15vh;
    margin-right: auto;
    width: 100%;
  }
}
